# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc
.Python

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Pytest
.cache/

# MyPy
.mypy_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
